<h1>Rotten Potatoes</h1>

<%= form_tag search_movies_path, :method => :get do %>
  <%= label_tag 'Search' %>
  <%= text_field_tag :movie %>
  <%= submit_tag("Search") %>
  <%= select_tag(:runtime, options_for_select([["Under 90 Minutes", 1], ["Between 90 and 120 Minutes", 2], ["Over 120 Mintues", 3]]), { inlcude_blank: true }) %>
  <% end %>
<hr>
<%= link_to "Submit a Movie!", new_movie_path %>
<hr>

<%= render @movies %>
